### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
#HJSS Started
#HJSS classes
#HJSS main class
#HJSS lesson booking class
#HJSS Cancel/Change Booking
#HJSS Attend lesson
#HJSS Rating
### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

